.selam {
  margin-top: 15px;
}

.resim-size {
  padding: 20px;
  width: 550px;
}

.btn {
  border: 1px solid #00000057 !important;
}

.ogrendiklerim {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .resim-size {
    padding: 20px;
    width: 100%;
  }
}

.listenToMe {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: list-item;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  position: absolute;
  float: left;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top: 70px;
  margin-right: 10px;
}

.sliderCss {
  margin-top: 10px;
  margin-right: 10px;
}
